In [3]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stopwords.words('english')[0:10]

[nltk_data] Downloading package stopwords to /home/hraval/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [34]:
# read in the text data
import pandas as pd

fullCorpus = pd.read_csv('SMSSpamCollection.tsv',sep='\t', header = None)
fullCorpus.columns = ['label','body_text']
fullCorpus.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [21]:
import os
os.getcwd()

'/home/hraval/Development/Dataset-classification'

In [31]:
# START OF FEATURE ENGINEERING 


#Read in the data 
import pandas as pd

data = pd.read_csv("SMSSpamCollection.tsv",sep='\t')
data.columns = ['label','body_text']

In [32]:
#data['body_text'].head()
data.columns
data.head()

  label                                          body_text
0  spam  Free entry in 2 a wkly comp to win FA Cup fina...
1   ham  Nah I don't think he goes to usf, he lives aro...
2   ham  Even my brother is not like to speak with me. ...
3   ham                I HAVE A DATE ON SUNDAY WITH WILL!!
4   ham  As per your request 'Melle Melle (Oru Minnamin...

In [33]:
# Create feature for text message length 
data.
data['body_len'] = data['body_text'].apply(lambda x : len(x) - x.count(" "))
data.head()

  label                                          body_text  body_len
0  spam  Free entry in 2 a wkly comp to win FA Cup fina...       128
1   ham  Nah I don't think he goes to usf, he lives aro...        49
2   ham  Even my brother is not like to speak with me. ...        62
3   ham                I HAVE A DATE ON SUNDAY WITH WILL!!        28
4   ham  As per your request 'Melle Melle (Oru Minnamin...       135